<div class="about-brand">
    <h1>About Brand</h1>
    <div class="brand-story">
        <h2><span>Brand</span> Story</h2>
        <div class="brand-story-content">
            <img src="../assets/images/brand(2).png" alt="brand-name">
            <p>ReShoes was born out of our concern for waste and our commitment to creating environmentally friendly fashion...</p>
        </div>
    </div>

    <div class="vm">
        <div class="vision">
            <h2>Vision</h2>
            <p>Becoming a part of the fashion industry in Indonesia by transforming waste...</p>
        </div>
        <div class="mission">
            <h2>Mission</h2>
            <ul>
                <li>Reducing the impact of waste and other recycled materials...</li>
                <li>Educating the public about the importance of environmentally friendly fashion...</li>
                <li>Developing new innovations in domestic shoe design...</li>
            </ul>
        </div>
    </div>

    <div class="funfact">
        <h2><span class="green">Did</span> You <span class="brown">Know</span>?</h2>
        <p>In 2023, recycled materials like paper, plastic, and rubber contributed significantly to global waste...</p>
    </div>
</div>
