<div class="cont-sec">
    <div class="container">
        <div class="left">
            <h2><span class="green">Contact</span> <span class="brown">Us</span>!!!</h2>
            <p>Just tell us if you need something :D</p>
            <form action="#">
                <div class="input-box">
                    <input type="text" name="name" class="name" placeholder="Enter your name!" />
                    <div class="error"></div>
                </div>
                <div class="input-box">
                    <input type="text" name="email" class="email" placeholder="Enter your email!" />
                    <div class="error"></div>
                </div>
                <div class="input-box">
                    <textarea name="message" class="message" placeholder="Enter your problem / message"></textarea>
                    <div class="error"></div>
                </div>
                <button class="btn">SUBMIT</button>
            </form>
        </div>

        <div class="right">
            <div class="illust">
                <img src="../Assets/Images/people-recycling.png" alt="logo">
            </div>
            <div class="contact-info">
                <div class="info-content">
                    <div class="icon">
                        <a href="tel:+62812-1010-1010"><i class="fa-solid fa-phone"></i></a>
                    </div>
                    <div class="text">
                        <p>+62812-1010-1010</p>
                    </div>
                </div>
                <div class="info-content">
                    <div class="icon">
                        <a href="mailto:reshoes@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <div class="text">
                        <p>reshoes@gmail.com</p>
                    </div>
                </div>
                <div class="info-content">
                    <div class="icon">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <div class="text">
                        <p>Tarumanagara University</p>
                    </div>
                </div>  
            </div>
        </div>
        
    </div>
</div>
