<nav class="custom-navbar">
    <div class="menu-icon" ng-click="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <p class="name-logo"><span>Re</span>Shoes</p>
    <ul class="nav-link" ng-class="{'open': isMenuOpen}">
        <li><a href="#!/"><i class="fa-solid fa-house"></i> Home</a></li>
        <li><a href="#!/shop"><i class="fa-solid fa-cart-shopping"></i> Shop</a></li>
        <li><a href="#!/about"><i class="fa-solid fa-book"></i> About Us</a></li>
        <li><a href="#!/contact"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
    </ul>
    <div class="login-item-desktop">
        <!-- Tombol Login/Profile -->
        <a ng-href="{{ getLoginButtonLink() }}" class="login-button">
            <i class="fa-solid fa-user"></i>
        </a>

        <!-- Tombol Logout -->
        <button ng-if="isLoggedIn" class="logout-button" ng-click="logout()">Logout</button>
    </div>
</nav>
