<nav class="custom-navbar">
    <p class="name-logo"><span>Re</span>Shoes</p>
    <ul class="nav-link">
        <li><a href="index.html"><i class="fa-solid fa-house"></i> Home</a></li>
        <li class="shop-menu">
            <a href="shop.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a>
            <ul class="dropdown">
                <li><a href="shop-men.html">Men</a></li>
                <li><a href="shop-women.html">Women</a></li>
                <li><a href="shop-kids.html">Kids</a></li>
            </ul>
        </li>
        <li class="small-menu"><a href="shop-men.html"> Men</a></li>
        <li class="small-menu"><a href="shop-women.html"> Women</a></li>
        <li class="small-menu"><a href="shop-kids.html"> Kids</a></li>
        <li><a href="about.html"><i class="fa-solid fa-book"></i></i> About Us</a></li>
        <li><a href="contact.html"><i class="fa-solid fa-phone"></i> Contact Us</a></li>
        <li><a href="login.html" class="login-button"><i class="fa-solid fa-user"></i> Login</a></li>
    </ul>
    <div class="menu-icon">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>
