.custom-navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.custom-navbar .name-logo {
    font-size: 24px;
    color: rgb(190, 109, 3);
    font-weight: 600;
}

.custom-navbar .name-logo span {
    color: #4caf50;
}

/* Tambahkan namespace di semua selektor lainnya */
.custom-navbar .nav-link {
    display: flex;
    list-style: none;
    gap: 50px;
}

.custom-navbar .nav-link a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
}

.custom-navbar .nav-link li {
    position: relative;
}

/* dan seterusnya untuk semua elemen dalam navbar */
.custom-navbar ul,
.custom-navbar li,
.custom-navbar a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.custom-navbar .dropdown {
    display: none !important; /* Gunakan !important untuk memprioritaskan gaya Anda */
}

.custom-navbar .nav-link a:hover {
    border-bottom: 2px solid rgb(190, 109, 3);
    color: #4caf50 !important;
}
